In [1]:
import pandas as pd
import numpy as np
#show first 10 rows
data = pd.read_csv('ds_salaries.csv')
result = data.head(10)
print(result)

   Unnamed: 0  work_year experience_level employment_type  \
0           0       2020               MI              FT
1           1       2020               SE              FT
2           2       2020               SE              FT
3           3       2020               MI              FT
4           4       2020               SE              FT
5           5       2020               EN              FT
6           6       2020               SE              FT
7           7       2020               MI              FT
8           8       2020               MI              FT
9           9       2020               SE              FT

                    job_title    salary salary_currency  salary_in_usd  \
0              Data Scientist     70000             EUR          79833
1  Machine Learning Scientist    260000             USD         260000
2           Big Data Engineer     85000             GBP         109024
3        Product Data Analyst     20000             USD          20000
4   Machine Learning Engineer    150000             USD         150000
5                Data Analyst     72000             USD          72000
6         Lead Data Scientist    190000             USD         190000
7              Data Scientist  11000000             HUF          35735
8       Business Data Analyst    135000             USD         135000
9          Lead Data Engineer    125000             USD         125000

  employee_residence  remote_ratio company_location company_size
0                 DE             0               DE            L
1                 JP             0               JP            S
2                 GB            50               GB            M
3                 HN             0               HN            S
4                 US            50               US            L
5                 US           100               US            L
6                 US           100               US            S
7                 HU            50               HU            L
8                 US           100               US            L
9                 NZ            50               NZ            S

In [2]:
#show last 10 rows
result = data.head(-10)
print(result)

     Unnamed: 0  work_year experience_level employment_type  \
0             0       2020               MI              FT
1             1       2020               SE              FT
2             2       2020               SE              FT
3             3       2020               MI              FT
4             4       2020               SE              FT
..          ...        ...              ...             ...
592         592       2022               SE              FT
593         593       2022               SE              FT
594         594       2022               SE              FT
595         595       2022               SE              FT
596         596       2022               SE              FT

                      job_title  salary salary_currency  salary_in_usd  \
0                Data Scientist   70000             EUR          79833
1    Machine Learning Scientist  260000             USD         260000
2             Big Data Engineer   85000             GBP         109024
3          Product Data Analyst   20000             USD          20000
4     Machine Learning Engineer  150000             USD         150000
..                          ...     ...             ...            ...
592              Data Scientist  230000             USD         230000
593              Data Scientist  150000             USD         150000
594      Data Analytics Manager  150260             USD         150260
595      Data Analytics Manager  109280             USD         109280
596              Data Scientist  210000             USD         210000

    employee_residence  remote_ratio company_location company_size
0                   DE             0               DE            L
1                   JP             0               JP            S
2                   GB            50               GB            M
3                   HN             0               HN            S
4                   US            50               US            L
..                 ...           ...              ...          ...
592                 US           100               US            M
593                 US           100               US            M
594                 US           100               US            M
595                 US           100               US            M
596                 US           100               US            M

[597 rows x 12 columns]

In [3]:
row_count = len(data) # Return number of rows
print(row_count)
col_count = len(data.columns)#Return number of Coulmns
print(col_count)

607
12

In [4]:
#print coulmns names
for col_name in data.columns: 
    print(col_name)

Unnamed: 0
work_year
experience_level
employment_type
job_title
salary
salary_currency
salary_in_usd
employee_residence
remote_ratio
company_location
company_size

In [8]:
#last coulmn name
data.columns[-1]

'company_size'

In [10]:
#4th coulmn type
data.dtypes[4]

dtype('O')